table {
  border-collapse: collapse;
  width: 100%;
  border: 1px;
}

td:nth-child(1) {
  width: 10%;
}

td:nth-child(2) {
  width: 10%;
}

td:nth-child(3) {
  width: 20%;
}

td:nth-child(4) {
  width: 60%;
}

td {
  padding: 8px;
  border: solid 1px;
}
